//Colors

$text: #343434;

$main_color: #91dd50;
$main_dark: #479327;
$main_light: #bbfc9f;

// $nav_main
$nav_light: #ff8e5e;

// $contrast_main
// $contrast_dark
// $contrast_light

// $white
// $background

$menu_dark: #36393b;
// $menu_light