//Colors
$background: #fff;//#fafaf1;
$text: #343434; 

$main_color: #8fd2c8; //#92d14f; //blue;//#91dd50; //#7bdcb1; //8fe1bd; //aaf0d1;//#4ed0b8;//#91dd50;
$main_dark: #12cdb2; //#5dd1c0; //darkblue;//#479327; //2daa73; //53d199; //67d6a5; //479327;
$main_light: #a8d5ce; //lightblue;//#bbfc9f; //bdedd8; //a3e6c9; //cbf1e1; //bbfc9f;

// $nav_main
$menu_dark: #BAD38D;//#d8eeb1; //#E0F7B8; //#def343; //#fbc09e; //#36393b; fbc09e
$menu_light: #fff; //#d2d8d8; //#dde88a; //#fed4bc;


// $contrast_main
$contrast_dark: #ff7c81; //darkred;//#ff5a5a; //ff4040; //E30B5D; ff5a5a
$contrast_light: #fd8d91; //#f78589; //#f8ccb0; //red;//#ff7474; //#f41469; //ff5a5a; //f41469;

// $white
// $background


// $menu_light