//Colors
$background: #fafaf1;
$text: #343434;

$main_color: #91dd50; //#7bdcb1; //8fe1bd; //aaf0d1;//#4ed0b8;//#91dd50;
$main_dark: #479327; //2daa73; //53d199; //67d6a5; //479327;
$main_light: #bbfc9f; //bdedd8; //a3e6c9; //cbf1e1; //bbfc9f;

// $nav_main
$nav_light: #ff8e5e;

// $contrast_main
$contrast_dark: #ff5a5a; //ff4040; //E30B5D; ff5a5a
$contrast_light: #ff7474; //#f41469; //ff5a5a; //f41469;

// $white
// $background

$menu_dark: #36393b;
// $menu_light