@font-face {
  font-family: 'headings';
  src: url('/fonts/architectsdaughter-webfont.eot');
  src: url('/fonts/architectsdaughter-webfont.eot') format('embedded-opentype'), url('/fonts/architectsdaughter-webfont.woff') format('woff'), url('/fonts/architectsdaughter-webfont.ttf') format('truetype'), url('/fonts/ArchitectsDaughter.ttf') format('truetype'), url('/fonts/architectsdaughter-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal; }
  $headings: headings;

@font-face {
  font-family: 'base_font';
  src: url('/fonts/archits-webfont.eot');
  src: url('/fonts/manksans-medium-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/manksans-medium-webfont.woff') format('woff'), url('/fonts/manksans-medium-webfont.ttf') format('truetype'), url('/fonts/manksans-medium-webfont.svg#manksans-medium') format('svg');
  font-weight: normal;
  font-style: normal; }

/* Font-face Icons */
@font-face {
  font-family: 'flexslider-icon';
  src: url('/fonts/flexslider-icon.eot');
  src: url('/fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('/fonts/flexslider-icon.woff') format('woff'), url('/fonts/flexslider-icon.ttf') format('truetype'), url('/fonts/flexslider-icon.svg#flexslider-icon') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'icomoon';
  src: url('/fonts/icomoon.eot?-75ez0n');
  src: url('/fonts/icomoon.eot?#iefix-75ez0n') format('embedded-opentype'), url('/fonts/icomoon.woff?-75ez0n') format('woff'), url('/fonts/icomoon.ttf?-75ez0n') format('truetype'), url('/fonts/icomoon.svg?-75ez0n#icomoon') format('svg');
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-clock:before {
  content: "\e600"; }

.icon-bars:before {
  content: "\e601"; }

.icon-food:before {
  content: "\e602"; }

