.panel--right {
  position: absolute;
  z-index: 0;
  width: 18rem;
  height: 100%;
  top: 0;
  right: 0;
  background-color: $menu_dark;
  padding-top: 2.5rem; }

body.showPanel .content-slot {
  -webkit-transform: translateX(-18rem);
  -moz-transform: translateX(-18rem);
  -ms-transform: translateX(-18rem);
  -o-transform: translateX(-18rem);
  transform: translateX(-18rem); }



.navTab_active {
  background-color: $menu_dark;
  color: #fff;
  width: 100%;
  // margin: 0.1rem 0; 
}